*{
    padding: 0;
    margin: 0;
}

canvas{
    background: #eee; 
    display: block;
    margin: 0 auto;
    &#myCanvas{
        width: 480px;
        height: 320px;
    }
}

h1{
    color: red;
    font-size: 12px;
}

p{
    color: blue;
}

.btn-row{
    width: 480px;
    margin: auto;
    padding: 5px 0;
    box-sizing: border-box;
}

button{
    &.mouse-toggle{
        &.on{
            border: 1px solid blue;
        }
    }
}